<p-toast></p-toast>

<div *ngIf="!gameInitialized" style="margin: 5px">
  <h2>Start a game</h2>
  <span *ngIf="properties.gameId">Game ID: "{{ properties.gameId }}"</span>
  <p>Provide player details below:</p>
  <div
    class="p-inputgroup"
    *ngFor="let item of properties.playersInfo; let i = index"
    style="margin-top: 5px"
  >
    <span class="p-inputgroup-addon">{{ COLOR_DOTS[item.color] }}</span>
    <input
      type="text"
      pInputText
      placeholder="{{ i == 0 ? 'Your name' : 'Player ' + (i + 1) + ' name' }}"
      style="max-width: 200px"
      [(ngModel)]="item.name"
    />
    <span class="p-inputgroup-addon">
      <p-button
        icon="pi pi-plus"
        styleClass="p-button-sm p-button-secondary"
        (click)="addPlayer()"
      ></p-button>
    </span>
  </div>
  <div style="margin-top: 10px">
    <p-button label="Initialize" (onClick)="initialize_game()"></p-button>
  </div>
  <hr />
  <h2>Join a game</h2>
  <div class="p-grid">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon" style="width: 100px">Game ID</span>
      <input
        type="text"
        pInputText
        style="max-width: 200px"
        [(ngModel)]="properties.gameId"
      />
    </div>
  </div>
  <div class="p-grid" style="margin-top: 5px">
    <div class="p-col4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon" style="width: 100px">Your name</span>
        <input
          type="text"
          pInputText
          placeholder="Enter this"
          style="max-width: 200px"
          [(ngModel)]="playerState.name"
        />
      </div>
    </div>

    <div class="p-col4" style="margin-left: 10px">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon" style="width: 100px">Your token</span>
        <input
          type="text"
          pInputText
          placeholder="or this"
          style="max-width: 200px"
          [(ngModel)]="playerState.token"
        />
      </div>
    </div>
  </div>
  <div class="p-grid" style="margin-top: 5px">
    <p-button label="Join game" (click)="joinGame()"></p-button>
  </div>
</div>

<div class="p-grid">
  <div class="p-col" id="board"></div>
  <div class="p-col" style="margin-top: 15px" *ngIf="gameInitialized">
    <div class="p-grid" style="margin-top: 5px">
      <div
        class="p-d-flex p-ai-center"
        style="margin-left: 5px"
        *ngFor="let item of properties.playersInfo | keyvalue"
      >
        <p-chip
          label="{{ item.value.name + ' ' + COLOR_DOTS[item.value.color] }}"
          styleClass="p-mr-2 {{
            item.value.id == playerState.id ? 'player_chip' : ''
          }} {{
            item.value.id == properties.boardState.turn
              ? 'current_turn_chip'
              : ''
          }}"
          pBadge
          value="{{
            properties.boardState.turnOrder.indexOf(item.value.id) +
              1 +
              (item.value.id == properties.boardState.turn ? '*' : '')
          }}"
        ></p-chip>
      </div>
    </div>

    <div
      style="margin-top: 30px"
      *ngIf="
        properties.boardState.stage == 'SETUP' &&
        playerState.id == properties.creator
      "
    >
      <div>
        <div style="margin-top: 15px">
          <!-- <p-dropdown
            [options]="mapList"
            [(ngModel)]="selectedMap"
            editable="true"
            optionLabel="name"
          ></p-dropdown> -->
        </div>

        <div style="margin-top: 25px" *ngIf="setupAction == 'SEA'">
          <span class="p-float-label">
            <p-inputNumber
              id="numProsperityMarkersId"
              [(ngModel)]="numProsperityMarkers"
              [showButtons]="true"
              [min]="0"
              [max]="1"
            >
            </p-inputNumber>
            <label for="numProsperityMarkersId"># Prosperity markers</label>
          </span>
        </div>
      </div>

      <div class="p-grid" style="margin-top: 20px; margin-left: 5px">
        <p-splitButton
          label="{{ setupBtnLabel }}"
          [model]="setActionMenu"
        ></p-splitButton>
        <div
          class="p-field-checkbox"
          style="margin-left: 10px; margin-top: 10px"
        >
          <p-checkbox
            [(ngModel)]="placingSoldier"
            binary="true"
            inputId="placingSoldierId"
          ></p-checkbox>
          <label for="placingSoldierId">Toggle soldier</label>
        </div>
        <div
          class="p-field-checkbox"
          style="margin-left: 10px; margin-top: 10px"
        >
          <p-checkbox
            [(ngModel)]="placingShip"
            binary="true"
            inputId="placingShipId"
          ></p-checkbox>
          <label for="placingShipId">Toggle ship</label>
        </div>
      </div>
    </div>

    <hr />

    <p-accordion
      [multiple]="true"
      *ngIf="properties.boardState.stage != 'SETUP'"
    >
      <p-accordionTab header="Game details" [selected]="false">
        <div class="p-grid">
          <div class="p-inputgroup" style="margin-top: 20px">
            <span class="p-float-label">
              <input
                id="gameIdInputText"
                type="text"
                pInputText
                [ngModel]="properties.gameId"
                style="max-width: 400px"
                [disabled]="true"
              />
              <label for="gameIdInputText">Game ID (save this somewhere)</label>
              <p-button
                (onClick)="copyToClipboard(properties.gameId)"
                icon="pi pi-copy"
                styleClass="p-button-warn"
              ></p-button>
            </span>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-inputgroup" style="margin-top: 40px">
            <span class="p-float-label">
              <input
                id="playerTokenInputText"
                type="text"
                pInputText
                [ngModel]="playerState.token"
                style="max-width: 400px"
                [disabled]="true"
              />
              <label for="playerTokenInputText"
                >Player Token (save this somewhere)</label
              >
              <p-button
                (onClick)="copyToClipboard(playerState.token)"
                icon="pi pi-copy"
                styleClass="p-button-warn"
              ></p-button>
            </span>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Inventory" [selected]="true">
        <div class="p-grid">
          <p-chip
            label="🪙 x {{ playerState.gold }}"
            styleClass="p-mr-2"
            pTooltip="Gold"
            tooltipPosition="bottom"
          ></p-chip>
          <p-chip
            label=" x {{ playerState.prosperity_markers }}"
            image="assets/images/prosperity_marker.png"
            styleClass="p-mr-3"
            pTooltip="Prosperity markers"
            tooltipPosition="bottom"
          ></p-chip>
          <p-chip
            label="🤺 x {{ playerState.soldiers }}"
            styleClass="p-mr-3"
            pTooltip="Soldiers"
            tooltipPosition="bottom"
          ></p-chip>
        </div>
        <div class="p-grid" style="margin-top: 5px">
          <img
            src="assets/images/priest.png"
            width="{{ cardWidth }}"
            height="{{ cardHeight }}"
            style="margin: 3px"
            pTooltip="Priest card"
            tooltipPosition="bottom"
            *ngFor="
              let item of [].constructor(playerState.priests);
              let i = index
            "
          />
          <img
            src="assets/images/philosopher.png"
            width="{{ cardWidth }}"
            height="{{ cardHeight }}"
            style="margin: 3px"
            pTooltip="Philosopher card"
            tooltipPosition="bottom"
            *ngFor="
              let item of [].constructor(playerState.philosophers);
              let i = index
            "
          />
        </div>
      </p-accordionTab>
      <p-accordionTab header="Creatures" [selected]="true">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
      </p-accordionTab>
      <p-accordionTab
        header="Bidding"
        [selected]="properties.boardState.stage == 'BIDDING'"
      >
        <div
          class="p-grid"
          style="margin-top: 5px"
          *ngFor="let item of properties.boardState.bids"
        >
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"
              ><p-radioButton
                name="bid"
                value="{{ item.god }}"
                [(ngModel)]="currentBid.god"
                (onClick)="currentBid.maxBidAmount = item.maxBidAmount"
                [disabled]="
                  properties.boardState.stage != 'BIDDING' ||
                  properties.boardState.turn != playerState.id
                "
              ></p-radioButton
            ></span>
            <span
              class="p-inputgroup-addon"
              style="width: 120px; justify-content: left"
              >{{ GODS[item.god] | titlecase }}</span
            >
            <span
              class="p-inputgroup-addon"
              tooltipDisabled="item.maxBidPlayerId == undefined"
              pTooltip="{{
                item.maxBidPlayerId >= 0
                  ? properties.playersInfo[item.maxBidPlayerId]['name']
                  : ''
              }}"
              tooltipPosition="bottom"
              >{{
                item.maxBidPlayerId >= 0
                  ? COLOR_DOTS[
                      properties.playersInfo[item.maxBidPlayerId]["color"]
                    ]
                  : ""
              }}</span
            >
            <p-inputNumber
              [ngModel]="
                item.god == currentBid.god
                  ? currentBid.maxBidAmount
                  : item.maxBidAmount
              "
              [showButtons]="
                properties.boardState.stage == 'BIDDING' &&
                currentBid.god == item.god
              "
              [min]="item.maxBidAmount ? item.maxBidAmount : 0"
              (onInput)="currentBid.maxBidAmount = $event.value"
              [disabled]="properties.boardState.turn != playerState.id"
            >
            </p-inputNumber>
            <div style="margin-left: 2px">
              <p-button
                styleClass="p-button-outlined p-button-success"
                label="Place Bid"
                (onClick)="placeBid(item)"
                *ngIf="
                  properties.boardState.stage == 'BIDDING' &&
                  currentBid.god == item.god &&
                  playerState.id == properties.boardState.turn
                "
              ></p-button>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab
        header="Action"
        *ngIf="
          properties.boardState.stage == 'ACTION' &&
          properties.boardState.turn == playerState.id
        "
      >
        <div *ngIf="playerState.prevBidGod == 'ARES'"></div>
        
        <div *ngIf="playerState.prevBidGod == 'ATHENA'"></div>
        <div *ngIf="playerState.prevBidGod == 'ZEUS'"></div>
        <div *ngIf="playerState.prevBidGod == 'POSEIDON'"></div>
        <div *ngIf="playerState.prevBidGod == 'APOLLO'"></div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
